<section class="us">
  <section class="contanier">
      <h1 class="heading"> Our Story</h1>
      <h3 class="words2">We believe that athletic wear affects performance it prevents injuries
          and encourages a better mentality so we are providing sport clothes and
          equipments that support athletes and make them feel comfort and safe

          so we decided to build that sports wear website that provide what athletes need form
          clothes to equipments we didn't want to build only a website but <br>to build a trust too
          that arraive to all athletes in different countries
      </h3>
  </section>
  <section><img class="img" src="/assets/images/online-shopping.png"></section>
</section>
<section class="us" style="height: 550px; margin-top:150px;">
  <section><img style="margin-left:200px;" class="img" src="/assets/images/fast-delivery.png"></section>
  <section class="contanier" >
      <h1 class="heading">Our Mission</h1>
      <h3 class="words1">
          To make it easy for all athletes in different<br> to have sport
          clothes and equipments in short time and safe delivery that support
          thier performance and make them feel comfort and to provide
          Fast delivery , Free shipping and
          good quality we also provide Trusted user friendly
          website

      </h3>
  </section>

</section>
