h1, h3{
    font-family:sans-serif;
}
.us{
    height:300px;
    display:flex;

}
*{
    margin:0 ;
}
.contanier{
    background:#2a718e;
    color:black;
    border-radius:50%;
    height:420px;
    width:420px;
    margin:0 200px 0 200px;
    text-align:center;
    padding:30px;

}
.heading{
  color: white;
  padding-bottom:10px;
  text-align:center;
  font-size:30px;
  font-family:sans-serif;
}
.words1{

    color:white;
    margin-top: 40px;
    font-size:18px;
    font-family:sans-serif;
    padding-left:20px;
    text-align:center;

}

.words2{
  color:white;
  margin-top: 20px;

  font-size:18px;
  font-family:sans-serif;
  /*padding-left:20px;*/
  text-align:center;
}

.img{

    height:400px;
    width:400px;
}
