<div id="contact">
  <div id="icons">
    <section class="cont">
        <div>
            <i style="padding-right:20px;" class="fa-solid fa-location-dot fa-xl"></i>
        </div>
        <div>
            <p class="name">Address

            </p>
            <p>6th October , Cairo , Eygpt</p>
        </div>
    </section>
    <br>
    <section class="cont">
        <div>
            <i style="padding-right:20px;" class="fa-solid fa-phone fa-xl"></i>
        </div>
        <div>
            <p class="name">Phone

            </p>
            <p> +20162234789</p>
        </div>
    </section>
    <br>
    <section class="cont">
        <div>
            <i style="padding-right:20px;" class="fa-regular fa-envelope fa-xl"></i>
        </div>
        <div>
            <p class="name">Email
            </p>
            <p> sport_websites@mail.com
            </p>
        </div>
    </section>
  </div>
  <form>
    <h1 style="color:white;">Send Message</h1>

    <p style="color:white;">Full Name</p>
    <input type="text" name="fname" required>
    <br>
    <p style="color:white;">Email</p>
    <input type="email" name="email" required>
    <br>
    <p style="color:white;">Message</p>
    <input id="msg" type="text" name="message" required>
    <br><br>
    <input id="btn" type="submit" value="send">

  </form>
</div>
