input{
  margin-bottom: 50px;
  border-radius: 5px;
}
#addp{
  margin: 0 0 0 0;

}
section{
  background-image: url("/assets/images/s.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.container{
  background-color: #ffffffad;

}
