<section class="h-100 h-custom" style="background-color: #eee;" id="cart">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card shopping-cart" style="border-radius: 15px;">
                    <div class="card-body text-black">

                        <div class="row">
                            <div class="col-lg-6 px-5 py-4">

                                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>
                                <ng-container *ngFor="let d of items;  ">
                                    <div class="d-flex align-items-center mb-5" *ngFor="let a of d.items  ">


                                        <div class="flex-shrink-0">
                                            <img src="{{a.item.imagePath}}" class="img-fluid" style="width: 150px;"
                                                alt="Generic placeholder image">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <a class="float-end text-black" (click)="delete(a.item._id)"><i
                                                    class="fas fa-times"></i></a>
                                            <h5 class="text-primary" style="color: #2a718e;">{{a.item.name}}
                                            </h5>

                                            <div class="d-flex align-items-center">
                                                <p class="fw-bold mb-0 me-5 pe-3">
                                                    {{a.item.price*(1-a.item.discount)|number:'1.0-0'|currency }}</p>
                                                <div class="def-number-input number-input safari_only">
                                                    <button class="minus" (click)="dec(a.item._id)"></button>
                                                    <input class="quantity fw-bold text-black" min="0" name="quantity"
                                                        value="{{a.qyt}}" type="number">

                                                    <button class="plus" (click)="inc(a.item._id)"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <hr class="mb-4" style="height: 2px; background-color: #2a718e; opacity: 1;">

                                <div class="d-flex justify-content-between px-x">
                                    <p class="fw-bold">SubTotal:</p>
                                    <p class="fw-bold">{{price.pc | currency}}</p>

                                </div>
                                <div class="col-lg-6 px-5 py-4">

                                    <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>


                                </div>

                                <div class="d-flex justify-content-between px-x">
                                    <p class="fw-bold">Shipping:</p>
                                    <p class="fw-bold">{{Ship.ship | currency}}</p>
                                </div>
                                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                                    <h5 class="fw-bold mb-0">Total:</h5>
                                    <h5 class="fw-bold mb-0">{{ (price.pc + Ship.ship) | currency}}</h5>
                                </div>

                            </div>
                            <div class="col-lg-6 px-5 py-4">
                              <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Payment</h3>
                              <app-checkout-form></app-checkout-form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
</section>
