<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home.php"><img src="/assets/images/logo.jpg" alt="Logo" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link shop" routerLink="shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link about" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact" routerLink="contactus"> Contact Us</a>
        </li>

      </ul>
      <div class="d-flex">
        <a class="cart text-decoration-none me-3" routerLink='cart'><i class="fas fa-shopping-cart"></i></a>
        <a class="profile text-decoration-none me-3" routerLink='profile'><i class="fas fa-user-alt"></i></a>
        <a class="text-decoration-none signup me-3" routerLink='register'>Sign up</a>
        <span class='seperator me-3'>|</span>
        <a class="text-decoration-none me-3 signin" routerLink='login' *ngIf="!(isLogedIn())">Sign in</a>
        <a class="signout text-decoration-none me-3" (click)="logout()" *ngIf="isLogedIn()">Sign out</a>
      </div>
    </div>
  </div>
</nav>
