<div class='py-4 bg-light col-12 footer' id="footer">
  <div class='networks fs-4 text-center'>
  <a href='www.facebook.com' target='blank'><i class="fab fa-facebook"></i></a>
  <a href='www.instagram.com' target='blank'><i class="fab fa-instagram"></i></a>
  <a href='www.twitter.com' target='blank'><i class="fab fa-twitter"></i></a>
  </div>
  <div class='links text-center'>
      <p class='my-2'>&#9679;
      <a routerLink='about'>About Us</a> &#9679;
      <a routerLink='contactus'>Contact Us</a> &#9679;
      </p>
  </div>
  </div>
